src/test/resources/xml-schema/cars-xsd.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cars">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="car" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="country"/>
                            <xs:element type="xs:short" name="year"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="make" use="optional"/>
                        <xs:attribute type="xs:string" name="model" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>